<% layout("/layouts/boilerplate") %>
<body>
    
<div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert">
    
    <div class="alert-heading">
      <%= message %>
    </div>
  </div>
  
</body>